body {

	background: #012049;/*url(assets/img/infobits.png);*/
	font-family: helvetica, verdana, Arial, sans-serif;
}
.container {
	padding: 0px 0px;
	border-radius: 4px;
}
.navbar {
	margin-top: 1%;
	height: 27px;
}	
#cadastro{
	background: white;
	padding: 10px 15px;
	border-radius: 4px;
}
.imagem {
	width: 90%;
	height: 90%;
	margin-left: 3%;
}
.tudo {
	background: white;
	border-radius: 3% 3% 3% 0;
	color: #008000;
}
.form {
	padding-left: 1%;
	background: white;
	border-radius: 3% 3% 3% 0%;
}
.error {
	color: red;
}
/*#centro {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
	color: #FFFFFF;
}*/

#formlog {

	padding: 2%;
	background: white;
	border-radius: 4px;
	width: 300px;
	height: 200px;
	position: absolute;
	top: 30%;
	left: 40%;
	margin-top: -30px;
	margin-left: -30px;
}

/*#imglog {/*imagem pagina login */
	/*background-image: url(assets/img/teste.jpg);
	float: left;*/
}
.search {
	float: left;
	margin-left: 350px;
	width: 500px;
	padding-top: 1%;
}