body{

background: #012049;/*url(assets/img/infobits.png);*/
font-family: helvetica,verdana,Arial, sans-serif;
}

.container-fluid{
	margin-top:3%;

}
.imagem{
	width: 90%;
	height: 90%;
	margin-left: 3%;
}
.form{
	padding-left:1%;
	background: white;
	border-radius:2%; 
}
.error{
	color: red;
}
#centro {
width:100px;
height:100px;
position:absolute;
top:50%;
left:50%;
margin-top:-50px;
margin-left:-50px;
color:#FFFFFF;
}
#login{
color:#FFFFFF;

} 
#senha{
color:#000000;
}

#formlog{
	
	padding-left:2%;
	
	background: white;
	border-radius:8% 8% 8% 0%;	
	width:300px;
	height:250px;
	position:absolute;
	top:30%;
	left:40%;
	margin-top:-30px;
	margin-left:-30px;
	
}
